################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TUTA_Automation/.vs/TUTA_Automation/v16
/TUTA_Automation/obj/Debug
